
<div class="card">
	<div class="row g-0">
		<div class="col-sm-2 col-4 border-end p-0">
			<img src="@Serie.Cover" class="img-fluid rounded-start" alt="Cover">
		</div>
		<div class="col-sm-10 col-8">
			<div class="card-body">
				<h5 class="card-title">@Serie.Name</h5>
				<p class="card-text"><small class="text-muted">@Serie.ReleaseDate</small></p>
				<p class="card-text d-none d-sm-block" style="">@Serie.Description</p>
			</div>
		</div>
	</div>
	<ul class="list-group list-group-flush d-block d-sm-none">
		<li class="list-group-item">
			<h6 class="fw-bold">Overview</h6>
			<p class="card-text">@Serie.Description</p>
		</li>
	</ul>
</div>




@code {
	[Parameter]
	public SerieModel Serie { get; set; }
}
