@page "/"
@using Microsoft.Extensions.Configuration;

@inject NavigationManager NavigationManager
@inject IConfiguration Configuration 

<div>
	<nav class="navbar">
		<div class="input-group mb-3">
			<input @bind-value="SearchPhrase" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" @onclick="@(() => SearchSeries())">Search</button>
		</div>
	</nav>
	@foreach (var serie in Series)
	{
		<div class="card mb-3" @onclick="@(() => OnSerieSelection(serie))">
			<div class="row g-0">
				<div class="col-md-2">
					<img src="@serie.Cover" class="img-fluid rounded-start" alt="Cover">
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title">@serie.Name</h5>
						<p class="card-text"><small class="text-muted">@serie.ReleaseDate</small></p>
						<p class="card-text">@TextShortener(serie.Description, 200)</p>
					</div>
				</div>
			</div>
		</div>
	}
</div>

@code {

	private TmdbManager _manager;

	public List<SerieModel> Series { get; set; } = new();

	public string SearchPhrase { get; set; }

	protected override void OnInitialized()
	{
		//SetFakeData();
		var token = Configuration["Api:tmdb_token"];
		_manager = new TmdbManager(token);
	}

	private void OnSerieSelection(SerieModel serie)
	{
		NavigationManager.NavigateTo($"/serie/{serie.Id}");
	}

	private async Task SearchSeries()
	{
		Series = new();
		Series = await _manager.GetSeriesByName(SearchPhrase);
	}

	private string TextShortener(string text, int maxChars)
	{
		if (text.Length > maxChars)
		{
			return $"{text.Substring(0, maxChars)}...";
		}

		return text;
	}

	private void SetFakeData()
	{
		Series = new()
		{
			new SerieModel
			{
				Id=1,
				Name="The Big Bang Theory",
				Description="Physicists Leonard and Sheldon find their nerd-centric social circle with pals Howard and Raj expanding when aspiring actress Penny moves in next door.",
				ReleaseDate=DateOnly.Parse("01.01.2007"),
				Cover="tbbt.jpg"
			},
			new SerieModel
			{
				Id=2,
				Name="The Boys",
				Description="A group of vigilantes known informally as “The Boys” set out to take down corrupt superheroes with no more than blue-collar grit and a willingness to fight dirty.",
				ReleaseDate=DateOnly.Parse("03.02.2019"),
				Cover="the_boys.jpg"
			},
		};
	}

}