@inject NavigationManager NavigationManager

<style>
	p.desc-short {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
</style>

<div class="col">
	<div class="card h-100">
		<img src="@Episode.Cover" class="img-fluid rounded-top" alt="Cover">
		<div class="card-body">
			<h5 class="card-title">@Episode.Name</h5>
			<p class="card-text">
				<small class="text-muted">@($"E{Episode.Number.ToString("D2")}")</small>
			</p>
			<p class="@(_shortDescription ? "desc-short" : "")" @onclick="() => _shortDescription = !_shortDescription">@Episode.Description</p>
		</div>
		<div class="card-footer bg-transparent">
			<div class="btn-toolbar justify-content-md-end">
				<div class="btn-group btn-group-sm" role="group">
					<button class="btn btn-@(HasWords ? "success" : "outline-dark")" @onclick="ShowWords">
						Words
					</button>
					<button class="btn btn-outline-dark" @onclick="ShowSubtitles">Subtitles</button>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public EpisodeModel Episode { get; set; }

	[Parameter]
	public bool HasWords { get; set; }

	private bool _shortDescription = true;

	private void ShowSubtitles()
	{
		NavigationManager.NavigateTo($"/subtitles/{Episode.Id}");
	}

	private void ShowWords()
	{
		NavigationManager.NavigateTo($"/words/{Episode.Id}");
	}
}